{% load static %}
<div class="faq-card" data-category="{{ faq.category }}">
    <div class="faq-content">
        <h2 class="card-title">{{ faq.question }}</h2>
        <p class="answer card-desc">{{ faq.answer }}</p>
    </div>
    <div class="btn-faq">
        <img class="faq-toggle" 
                src="{% static 'images/icons/open.png' %}" 
                alt="Show FAQ" 
                data-open-icon="{% static 'images/icons/close.png' %}" 
                data-closed-icon="{% static 'images/icons/open.png' %}">
    </div>
</div>
