{% extends "portfolio-base.html" %}
{% block title %} Roshan {% endblock %}
{% load static %}

{% block content %}
    <div class="main-container">
        <!--Home Is Staring From Here-->
        <div class="home-container">
            <div class="home-content">
                <p>👋🏼 HIII, IT'S ME</p>
                <h1>Roshan Damor</h1>
                <h4>🧑🏽‍💻 I am a <span id="skill-text"></span></h4>
                <p>GREETINGS, ALL DIGITAL EXPLORERS ! I AM ROSHAN, A PASSIONATE AMD INNOVATIVE DEVELOPER DEDICATED TO CRAFTING IMMERSIVE DIGITAL EXPERIENCE, WELCOME TO MY ONLINE WORLD ...</p>
            
                <div class="success">
                    <div class="success-card">
                        <img src="{% static 'images/icons/promotion.gif' %}" alt="">
                        <p>2+ Year of Experience</p>
                    </div>
                    <div class="success-card">
                        <img src="{% static 'images/icons/projects.gif' %}" alt="">
                        <p>39+ Succesfull Projects</p>
                    </div>
                </div>
            </div>
            <div class="home-hero-image">
                <img src="{% static 'images/stock/Portfolio.png' %}" alt="Hero Image">
            </div>
        </div>

        <!--Skills Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my skills.</h1>
                <p>Visit all my projects an see the code too also view embedded preview aswell.</p>
            </div>
            <div class="ver-cards">
                {% for skill in skills %}
                <div class="skills-card">
                    <div class="top-content">
                        <div class="skill-content">
                            <div class="skill-image">
                                <img src="{{ skill.icon.url }}" alt="{{ skill.name }}">
                            </div>
                            <h3>{{ skill.name }}</h3>
                        </div>
            
                        <div class="progress-card">
                            <span class="progress-tag3">
                                {{ skill.status }}
                            </span>

                        </div>
                    </div>
            
                    <div class="skills-content">
                        <div class="progress-container" data-progress="{{ skill.level }}">
                            <div class="progress"></div>
                        </div>
                        <p>{{ skill.description }}</p>
                        <div class="skills-links">
                            <button class="outline-btn">View Certificate</button>
                            <button class="outline-btn">Used Resources</button>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No Skills Found</p>
                {% endfor %}
            </div>
                
            <div class="skills-footer">
                <a href="skills/"><button class="outline-btn">VIEW ALL THE SKILLS</button></a>            
            </div>
        </div>  

        <!--Projects Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my projects.</h1>
                <p>Visit all my projects an see the code too also view embedded preview aswell.</p>
            </div>
            <div class="ver-cards">
                {% for project in projects %}
                <div class="project-card">
                    <div class="project-image">
                        {% if project.images.all %}
                            <img src="{{ project.images.first.image.url }}" alt="{{ project.title }}">
                        {% else %}
                            <img src="../static/images/others/Project Image1.jpg" alt="Default Image"> <!-- Fallback -->
                        {% endif %}                       
                    </div>
                    <div class="project-content">
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.description }}</p>
            
                        <div class="skills">
                            <p>Skills Used:</p>
                            {% for skill in project.skills.all %}
                                <span>{{ skill.name }}</span>
                            {% endfor %}
                        </div>
            
                        <div class="project-links">
                            <a href="{% url 'project_detail' slug=project.slug %}">
                                <button class="outline-btn">VIEW DETAILS</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No Projects Found</p>
                {% endfor %}
            </div>
                
            <div class="project-footer">
                <a href="projects/"><button class="outline-btn">VIEW ALL THE PROJECTS</button></a>
            </div>
        </div>

        
        <!--Experience Is Staring From Here-->  
        <div class="all-container">
            <div class="cards-header">
                <h1>my experience.</h1>
                <p>Visit all my projects an see the code too also view embedded preview aswell.</p>
            </div>
        
            <div class="hor-cards">
                {% for experience in experiences %}
                <div class="exp-card">
                    <div class="top-content">
                        <div class="exp-image">
                            <img src="{{ experience.image.url }}" alt="{{ experience.title }}">
                        </div>
                        <h2>{{ experience.title }}</h2>
                        <div class="date">
                            <p>{{ experience.start_date|date:"M-Y" }}</p>
                            <p>{{ experience.end_date|date:"M-Y" }}</p>
                        </div>
                    </div>
                    <div class="exp-content">
                        <p>{{ experience.description }}</p>
                    </div>
                </div>
                {% empty %}
                <p>No Experience Found</p>
                {% endfor %}
            </div>
            
            <div class="exp-footer">
                <a href="experience/"><button class="outline-btn">VIEW ALL THE EXPERIENCE</button></a>
            </div>
        </div>


        <!--Blogs Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my blogs.</h1>
                <p>Visit all my projects an see the code too also view embedded preview aswell.</p>
            </div>
        
            <div class="ver-cards">
                {% for blog in blogs %}
                <div class="blogs-card">
                    <div class="blogs-image">
                        <img src="{{ blog.image.url}}" alt="">
                    </div>
                    <div class="blogs-content">
                        <div class="date">
                            <img src="{% static 'images/icons/calendar.png' %}" alt="">
                            <p>{{ blog.publication_date|date:"F d, Y" }}</p>
                            <p>. Read Time: {{ blog.time_to_read }} min</p>
                        </div>
                        <h2>{{ blog.title }}</h2>
                        <div class="skills">
                            <p>Category : </p>
                            {% for category in blog.get_category_list %}
                                <span>{{ category }}</span>
                            {% endfor %}
                        </div>
                        <div class="blogs-links">
                            <a href="{% url 'blog_detail' slug=blog.slug %}">
                                <button class="outline-btn">Read More</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No Blogs Found</p>
                {% endfor %}
            </div>
            <div class="blogs-footer">
                <a href="blogs/"><button class="outline-btn">VIEW ALL THE BLOGS</button></a>
            </div>
        </div>


        <!--Faq Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my faq's.</h1>
                <p>Visit all my projects and see the code too; also view embedded preview as well.</p>
                
            </div>
        
            <div class="hor-cards">
                {% for faq in faqs %}
                <div class="faq-card" data-category="{{ faq.category }}">
                    <div class="faq-content">
                        <h2>{{ faq.question }}</h2>
                        <p class="answer" style="display: none;">{{ faq.answer }}</p>
                    </div>
                    <div class="btn-faq">
                        <img class="faq-toggle" 
                                src="{% static 'images/icons/open.png' %}" 
                                alt="Show FAQ" 
                                data-open-icon="{% static 'images/icons/close.png' %}" 
                                data-closed-icon="{% static 'images/icons/open.png' %}">
                    </div>
                </div>
                {% empty %}
                <p>No FAQ's Found</p>
                {% endfor %}
            </div>
        
            <div class="project-footer">
                <a href="faqs/"><button class="outline-btn">VIEW ALL THE FAQS</button></a>
            </div>
        </div>

        <!-- Contact Section Starts Here -->
        <div class="all-container" id="contact">
            <div class="cards-header">
                <h1>contact me.</h1>
                <p>Visit all my projects and see the code too; also view embedded previews as well.</p>
            </div>
            
            <div class="mail-contact-card">
                <!-- Left Contact Information -->
                <div class="left-contact">
                    <img src="../static/images/stock/Contact.jpg" alt="Contact Image">
                    <div class="contact-section">
                        <div class="contact">
                            <img src="../static/images/icons/g-mail.png" alt="Email Icon">
                            <a href="mailto:iamroshandamor@gmail.com"><p>iamroshandamor@gmail.com</p></a>
                        </div>
                        <div class="contact">
                            <img src="../static/images/icons/rmail.png" alt="Email Icon">
                            <a href="mailto:contact@roshandamor.site"><p>contact@roshandamor.site</p></a>
                        </div>
                        <div class="contact">
                            <img src="../static/images/icons/phone.png" alt="Phone Icon">
                            <a href="tel:+91XXXXXXXXXX"><p>+91 1234567890</p></a>
                        </div>
                        <div class="contact">
                            <img src="../static/images/icons/address.png" alt="Address Icon">
                            <a href="https://www.google.com/maps/search/?api=1&query=Patanjali+Parisar,+Abbas+Nagar,+Gandhinagar,+Bhopal,+MP">
                                <p>Indore, Madhya Pradesh, India</p>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Right Contact Form -->
                <div class="right-contact">
                    <div class="contact-form-card">
                        <!-- Contact Form -->
                        <form id="contactForm" method="post">
                            {% csrf_token %}
                
                            <!-- Name Field -->
                            <input type="text" name="name" id="id_name" placeholder="Enter your name" required>
                
                            <!-- Email Field -->
                            <input type="email" name="email" id="id_email" placeholder="Enter your email" required>
                
                            <!-- Subject Field -->
                            <input type="text" name="subject" id="id_subject" placeholder="Enter the subject" required>
                
                            <!-- Message Field -->
                            <textarea name="message" id="id_message" placeholder="Your message here" rows="8" required></textarea>
                
                            <!-- Submit Button -->
                            <button class="contact-btn" type="submit">Send Message</button>
                
                            <!-- Success/Error Messages -->
                            <div id="formMessage"></div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Contact Section Ends Here -->

    </div>

        
{% endblock %}