{% extends "portfolio-base.html" %}
{% block title %} Roshan {% endblock %}
{% load static %}

{% block content %}
        <!--Home Is Staring From Here-->
        <div class="home-container">
            <div class="home-content">
                <p>👋🏼 HIII, IT'S ME</p>
                <h1>Roshan Damor</h1>
                <h4>🧑🏽‍💻 I am a <span id="skill-text"></span></h4>
                <p>GREETINGS, ALL DIGITAL EXPLORERS ! I AM ROSHAN, A PASSIONATE AMD INNOVATIVE DEVELOPER DEDICATED TO CRAFTING IMMERSIVE DIGITAL EXPERIENCE, WELCOME TO MY ONLINE WORLD ...</p>
            
                <div class="success">
                    <div class="success-card">
                        <img src="{% static 'images/icons/promotion.webp' %}" alt="">
                        <p>2+ Year of Experience</p>
                    </div>
                    <div class="success-card">
                        <img src="{% static 'images/icons/projects.webp' %}" alt="">
                        <p>39+ Succesfull Projects</p>
                    </div>
                </div>
            </div>
            <div class="home-hero-image">
                <img src="{% static 'images/stock/Portfolio.webp' %}" alt="Hero Image">
            </div>
        </div>

        <!--Skills Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my skills.</h1>
                <p>Visit all my projects and see the code too; also view embedded previews as well.</p>
            </div>
            <div class="ver-cards">
                {% for skill in skills %}
                {% include "components/skill_card.html" with skill=skill %}
                {% empty %}
                    <p>No Skills Found</p>
                {% endfor %}
            </div>
                
            <div class="skills-footer">
                <a href="skills/"><button class="outline-btn">VIEW ALL THE SKILLS</button></a>            
            </div>
        </div>  

        <!--Projects Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my projects.</h1>
                <p>Visit all my projects and see the code too; also view embedded previews as well.</p>
            </div>
            <div class="ver-cards">
                {% for project in projects %}
                {% include "components/project_card.html" with project=project %}
                {% empty %}
                <p>No Projects Found</p>
                {% endfor %}
            </div>
                
            <div class="project-footer">
                <a href="projects/"><button class="outline-btn">VIEW ALL THE PROJECTS</button></a>
            </div>
        </div>

        
        <!--Experience Is Staring From Here-->  
        <div class="all-container">
            <div class="cards-header">
                <h1>my experience.</h1>
                <p>Visit all my projects and see the code too; also view embedded previews as well.</p>
            </div>
        
            <div class="hor-cards">
                {% for experience in experiences %}
                {% include "components/experience_card.html" with experience=experience %}
                {% empty %}
                <p>No Experience Found</p>
                {% endfor %}
            </div>
            
            <div class="exp-footer">
                <a href="experience/"><button class="outline-btn">VIEW ALL THE EXPERIENCE</button></a>
            </div>
        </div>


        <!--Blogs Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my blogs.</h1>
                <p>Visit all my projects and see the code too; also view embedded previews as well.</p>
            </div>
        
            <div class="ver-cards">
                {% for blog in blogs %}
                {% include "components/blog_card.html" with blog=blog %}
                {% empty %}
                <p>No Blogs Found</p>
                {% endfor %}
            </div>
            <div class="blogs-footer">
                <a href="blogs/"><button class="outline-btn">VIEW ALL THE BLOGS</button></a>
            </div>
        </div>


        <!--Faq Is Staring From Here-->
        <div class="all-container">
            <div class="cards-header">
                <h1>my faq's.</h1>
                <p>Visit all my projects and see the code too; also view embedded previews as well.</p>
                
            </div>
        
            <div class="hor-cards">
                {% for faq in faqs %}
                {% include "components/faq_card.html" with faq=faq %}
                {% empty %}
                <p>No FAQ's Found</p>
                {% endfor %}
            </div>
        
    <div class="project-footer">
                <a href="faqs/"><button class="outline-btn">VIEW ALL THE FAQS</button></a>
            </div>
        </div>



        {% include "components/skill_popups.html" %}
{% endblock %}